/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
  background-image: url("imagenes/ligue_of_justicia.jpg");
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 255, 255);
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}



header p {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  font-family: 'Sedgwick Ave Display', cursive;
  margin: 5px 0;
  color: aqua;
}

section ul {
  font-family: 'Dongle', sans-serif;
  margin-top: 0;
  color: bisque;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}